.wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 30px;
}

.toggleText{
    cursor: pointer;
    color: var(--color-primary);
}

.cardWrapper{
    margin-top: 18px;
}
